// colors
$top-color: rgb(255, 255, 255);
$top-selected: #fce38a;
$h-after:#f38181;
$middle-color: rgb(51, 51, 51);
$filling-1:rgb(252,227,138);
$filling-2:rgb(243,129,129);
$text-gray:rgb(153, 153, 153);


