body{
    background-color: rgba(215, 219, 223, 0.993);
}
/* .wrapper{
    margin-top: 2%;
} */
span{
    color: #797878;
    font-size: 0.9rem;
    line-height: 1.125rem;
}
.card{
    background-color: rgb(216, 231, 240);
    padding-bottom: 1%;
    padding-top: 1%;
}
.card > div {
    font-size: 0.9;
    line-height: 1.125rem;
}

ul{
    list-style: none;
}

.js-form {
    margin-top: 2%;
}

.js-form > section > h2{
    font-size: 1.5rem;
}
