@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
*{
    margin:0;
    padding:0;
}

header{
    height: 38px;
}

body{
    margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active), input[type='checkbox'].visually-hidden, input[type='radio'].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

header{
    padding-top: 50px;
    padding-left: 35px;
    padding-right: 25px;
    padding-bottom: 10px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.logo{
    /*float: left;*/
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    color: #555252;
    /*margin-top:30px;*/
}
.logo::first-letter{
    color: #1abc9c;
    font-weight: 900;
}

.navig{
    float: right;
    display:inline-block;
    margin-bottom: 0px;
    /*margin-top: -24px;*/
    width: 1000px;
    text-align: end;
    display: table-cell;
    /*vertical-align: text-top;*/
    }

.menu{
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 11px;
    text-transform: uppercase;
    color:#0f0101;
    letter-spacing: -0.025em;
    margin-right: 34px;

}

.first{
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 11px;
    text-transform: uppercase;
    color:#0f0101;
    letter-spacing: -0.02em;
    padding-right: 245px;
}


.menu:hover, .first:hover{
    color: #1abc9c;
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.slider{
    min-height:600px;
    background: url('../img/slide4.jpg') no-repeat center center;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.wrapper1{
    height: 600px;
    background-color: rgb(0, 0, 2);
    opacity: 0.522;
}   

.slider h1{
    font-family: 'Roboto Black';
    color:  #ffffff;
    font-size: 60px;
    line-height: 82px;

}
.slider h2{
    font-family: 'Roboto Light';
    color:  #ffffff;
    font-size: 24px;
    line-height: 54px;
}


.text-slider-block{
    text-transform: uppercase;
    line-height: 1.367;
    text-align: left;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    margin: 0 auto;
    height: 164px;
}

.LD, .RD{
    width: 104px;
    height: 104px;
    color: #ffffff;
    border: none;
    background-color: #1abc9c;
    position: absolute;
    top: 335px;
    font-size: 100px;
}

.LD{
    left: 20%;
    top:50%;
    transform: translate(-50%, -50%);
}

.RD{
    right:20%;
    top: 50%;
    transform: translate(50%, -50%);
}

.sales{
    background-color: #e9f0fd;
}

.wrapper2{
    background-color: #e9f0fd;
    width: 1110px;
    height: 676px;
    margin: 0 auto;
}

.wrapper2 h2{
    padding-top:100px;
    font-family: 'Roboto Black';
    color:  #515151;
    font-size: 48px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
}

.wrapper2 h2::after{
    content: "";
    height: 7px;
    width: 164px;
    display: block;
    margin: 0 auto;
    background-color:#1abc9c;
    margin-top: 32px;
}

.prodlist{
    margin-top: 80px;
    margin-bottom: 100px;
}

.proditem{
    float:left ;
    margin-right:30px;
    margin-bottom: 30px;
    height: 324px;
    width: 255px;
    overflow: hidden;
    position: relative;
}

.proditem:nth-child(4){
    margin-right: 0px;
}

.proditem>a{
    display: block;
    width: 255px;
    height: 324px;
    overflow: hidden;
    
}

a>img{
    height: 282px;
    /*width: 100%;*/
    float: left;
    transform: translate(-5%);
}

.PI-name, .PI-price{
    vertical-align: middle;
}
    
.PI-name{
    font-family: 'Roboto Black', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    color:#ffffff;
    letter-spacing: -0.02em;
    padding-left: 10px;
    display: table-cell;
    background: #323232;
    width: 201px;
    height: 40px;
}

.PI-price{
    display: table-cell;
    font-family: 'Roboto Black', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    color:#ffffff;
    letter-spacing: -0.02em;
    text-align: center;
    background:#8c8c8c;
    height: 40px;
    width: 54px;
}

.hov{
    display: none;
    position: absolute;
    height: 262px;
    width: 234px;
    background-color: #000000;
    opacity: 0.5;
    top: 10px;
    left: 10px;
}

.like, .exchange, .watch{
    height: 50px;
    width: 50px;
    color: #ffffff;
    background-color: transparent;
    border: white solid 1px;
    font-size: 30px;
    line-height: 32px;
    display: none;
}
.like:hover, .exchange:hover, .watch:hover {
    background-color:#1abc9c;
    border: #1abc9c solid 1px;
}

.like{
    position: absolute;
    left: 45px;
    top: 90px;
}

.exchange{
    position: absolute;
    left: 104px;
    top: 90px; 
}

.watch{
    position: absolute;
    left: 161px;
    top: 90px; 
}

.buy{
    color: #ffffff;
    background-color: #323232;
    border: white solid 1px;
    font-size: 30px;
    line-height: 32px;
    height: 50px;
    width: 164px;
    position: absolute;
    left: 45px;
    top: 148px;
    display: none;
    padding-left: 12px;
    text-align: left;
}

.buy>span{
    font-family: 'OpenSans Regular', sans-serif;
    font-size: 14px;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    text-align: center;
    vertical-align: text-top;
    margin-left: 12px;
}

.proditem:hover .hov{
    display: block;
}

.proditem:hover button{
    display: block;
}

.proditem:hover .PI-name{
    background: #1abc9c;
}

.proditem:hover .PI-price{
    background: #7fd9c7
}

footer{
    background-color: #323232;
}
.origin{
    font-family: 'OpenSans Regular', sans-serif;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-align: center;
    vertical-align: text-top;
    color: white;
    padding-top:40px;
    padding-bottom: 40px;
}

.origin>a{
    text-decoration: none;
    color: #1abc9c;
}