@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
body {
font-family: 'Playfair Display', serif;
}

ul{
margin:0 auto;
text-align:center;

}
li{
display:inline;
margin:60px;
color:#fff;
}
a{
color:#707070;
text-decoration:none;
}
a:focus{
color:#0b8cec;
}


.wrapper{
width:960px;
margin:0 auto;
position: relative;
}

.art1{
display:inline-block;
width:419px;
margin:40px;
position: relative;
}
.art2{
display:inline-block;
width:419px;
position: relative;
}

.teg1{
display:inline-block;
color:#c4c4c0;
font-weight:200;
width:419px;
}
.title1{
display:inline-block;
color:#707070;
font-weight:600;
width:419px;
}
.cont1{
display:inline-block;
color:#707070;
width:419px;
}
span{
display:inline-block;
height:279px;
width:419px;
}

.img1{
background:url(../img/1.jpg) repeat-y #000;
}
.img2{
margin:0 auto;
background:url(../img/2.jpg) repeat-y #000;
}
.img3{
background:url(../img/3.jpg) repeat-y #000;
}
.img4{
margin:0 auto;
background:url(../img/4.jpg) repeat-y #000;
}
.img5{
background:url(../img/5.jpg) repeat-y #000;
}
.img6{
margin:0 auto;
background:url(../img/6.jpg) repeat-y #000;
}

footer{
display:block;
text-align:center;
}
.footer1{
width:140px;
height:40px;
display:inline-block;
text-align:center;
border:1px solid black;
padding-top:15px;
font-size:1.2em;
}