@import url('https://fonts.googleapis.com/css?family=Kaushan+Script:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,700');

.visually-hidden:not(:focus):not(:active), input[type='checkbox'].visually-hidden, input[type='radio'].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body{
    text-align: center;
}

.top-background{
    position: absolute;
    z-index: -1;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
    background-image: -webkit-gradient( linear, left bottom, left top, from(rgba(252,227,138,0.90)), to(rgba(243,129,129,0.90))), url('../Img/eagle.jpg');
    background-image: -webkit-linear-gradient( bottom, rgba(252,227,138,0.90) 0%, rgba(243,129,129,0.90) 100%), url('../Img/eagle.jpg');
    background-image: -o-linear-gradient( bottom, rgba(252,227,138,0.90) 0%, rgba(243,129,129,0.90) 100%), url('../Img/eagle.jpg');
    background-image: linear-gradient( 0deg, rgba(252,227,138,0.90) 0%, rgba(243,129,129,0.90) 100%), url('../Img/eagle.jpg');
    width: 1200px;
    height: 1000px; 
    background-position: center 0,center 0;
    background-size: cover;
    overflow: hidden;
}

@media (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 144dpi) {
    .top-background{
        background-image: -webkit-gradient( linear, left bottom, left top, from(rgba(252,227,138,0.90)), to(rgba(243,129,129,0.90))), url('../Img/eagle@2x.jpg');
        background-image: -webkit-linear-gradient( bottom, rgba(252,227,138,0.90) 0%, rgba(243,129,129,0.90) 100%), url('../Img/eagle@2x.jpg');
        background-image: -o-linear-gradient( bottom, rgba(252,227,138,0.90) 0%, rgba(243,129,129,0.90) 100%), url('../Img/eagle@2x.jpg');
        background-image: linear-gradient( 0deg, rgba(252,227,138,0.90) 0%, rgba(243,129,129,0.90) 100%), url('../Img/eagle@2x.jpg');
    }
}

.logo{
    position: absolute;
        font-size: 30px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: left;      
    margin-top: 30px;
}
header{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 92px;
}
nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 520px;
    height: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 35px;
}
.menu>li{
    margin: 10px;
    width: 75px;
    list-style: none;
    font-size: 14px;
    font-family: "Montserrat";
    text-transform: uppercase;
    line-height: 1.2;  
}
.menu>li:hover a{
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
  color: rgb(252, 227, 138);
}

.menu>li::after{
    content: "";
    width: 0px;
    -webkit-transition-property: width;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
}

.menu>li:hover::after{
    content: "";
    width: 50px;
    height: 3px;
    background-color: #fce38a;
    display: block;
    margin: 0 auto;
}

.menu>li>a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
}

.headers-part__preheader{
    padding-top: 100px;
    margin-bottom: 40px;
    font-size: 72px;
    font-family: "Kaushan Script";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
  
  }

  .headers-part__main-header{
    font-size: 150px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.933;
    width:820px;
    text-align: center;
    margin: 0 auto;
}

.headers-part__button{
    margin-top: 120px;
    margin-bottom: 275px;
    
    width: 160px;
    height: 40px;
    background-color: transparent;
    border: 3px solid white;

    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
  
}


.services_mainheader{
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 45px;
    text-align: center;
    margin-bottom: 52px;
    margin-top: 0px;

}
.services_preheader{
    font-size: 24px;
    font-family: "Kaushan Script";
    color: rgb(51, 51, 51);
    text-align: center;
    text-transform: initial;
    margin-bottom: 24px;
}
.wrapper{
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 auto;
}

.services_preheader::after{
content: "\A";
white-space: pre;
}

.services_mainheader::after{
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 60px;
    height: 3px;
    background-color: #f38181;
}

.services__item{
    width: 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 65px;
}
.services__vector{
    display: block;
    width: 32px;
    height: 32px;
}

.services__icon{
    margin-top: 15px;
}

.services__text{
    margin-left: 28px;
    text-align: left;
}
.services__theme{
    font-size: 14px;
    font-family: "Montserrat Regular";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
}
.services__description{
    font-size: 15px;
    font-family: "Roboto Regular";
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: left;
}

.social__vector{
    display: block;
    width: 28px;
    height: 28px;
    fill: #f38181;
}

.team-description{
    width: 950px;
    margin: 0 auto;
    font-size: 15px;
    font-family: "Roboto Regular";
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: center;
    margin-bottom: 85px;
    margin-top: 50px;
}
.member__name{
    margin-top: 25px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.member__position{
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 1.6;
    text-align: center;
}
.member{
    position: relative;
}
.hov{
    position: absolute;
    height: 0px;
    width: 380px;
    background-color: #000000;
    opacity: 0.9;
    top: -10px;
    left: -10px;
}

.social{
    height: 56px;
    width: 55px;
    top: 200px;
    background-color: #fce38a;
    border: transparent solid 1px;
    position: absolute;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    left:0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.social:hover {
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    background-color:#f38181;
    border: transparent solid 1px;
}

.social:hover .social__vector{
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    fill:#ffffff;
}

.member:hover .hov{
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    height: 470px;
    background-image: -webkit-gradient( linear, left bottom, left top, from(#fce38a), to(#f38181));
    background-image: -webkit-linear-gradient( bottom, #fce38a 0%, #f38181 100%);
    background-image: -o-linear-gradient( bottom, #fce38a 0%, #f38181 100%);
    background-image: linear-gradient( 0deg, #fce38a 0%, #f38181 100%);
    -webkit-box-shadow: 10px 10px 0px 0px #95e1d3;
            box-shadow: 10px 10px 0px 0px #95e1d3; 
}
.member:hover .social:nth-child(1){
    -webkit-transition: .05s linear;
    -o-transition: .05s linear;
    transition: .05s linear;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    left: 68px;
}

.member:hover .social:nth-child(2){
    -webkit-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    left: 124px;
}
.member:hover .social:nth-child(3){
    -webkit-transition: .15s linear;
    -o-transition: .15s linear;
    transition: .15s linear;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    left: 180px;
}
.member:hover .social:nth-child(4){
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    left: 236px;
}

.member:hover .member__photo{
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transform: translate(-10px,-10px);
        -ms-transform: translate(-10px,-10px);
            transform: translate(-10px,-10px);
}

main{
    margin-bottom: 63px;
}

footer{
    width: 1200px;
    height: 62px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    border-top: 1px solid #e7e7e7;
}
.contact{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.created-by{
    width: 312px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: center;
  
}
.pink-text{
    color: #f38181;
}

.contact-form{
    height: 40px;
    width: 228px;
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(204, 204, 204);
    font-style: italic;
    line-height: 1.6;
    text-align: left;
    border-left: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    border-right: none;
    padding-left: 10px;
}

.contact-button{
    height: 44px;
    width: 150px;
    background-color: #95e1d3;
    border: none;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}